* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    position: relative;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #f9f9f9;
}

.container .container-header {
    width: 100%;
    height: 201px;
    background: #1574df;
}

.container .container-header .logo img {
    transform: translateX(50%);
    width: 180px;
    height: 28px;
    position: absolute;
    top: 20px;
}

.container .container-header .txz {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container .container-header .txz .left img {
    width: 64px;
    height: 68px;
    position: absolute;
    top: 37px;
    left: 2px;
}

.container .container-header .txz .center img {
    width: 110px;
    height: 34px;
    position: absolute;
    top: 60px;
    transform: translateX(-50%);
}

.container .container-header .txz .right img {
    width: 88px;
    height: 104px;
    position: absolute;
    top: 10px;
    right: 1px;
}

.container .container-center {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 101px;
    height: 100%;
}

.container .container-center .card {
    border-radius: 10px;
    width: 350px;
    height: calc(100vh - 200px);
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    background: #fff;
    max-height: 480px;
}

.container .container-center .card img {
    width: 60px;
    height: 72px;
    top: -61px;
    right: 46px;
    position: absolute;
}

.container .container-center .info {
    display: flex;
    flex-direction: column;
    z-index: 100001;
    text-align: center;
    position: relative;
    height: 100%;
}

.container .container-center .info .headphoto {
    width: 140px;
    height: 196px;
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 99;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.container .container-center .info .person-info {
    font-size: 12px;
    color: #333;
    font-family: PingFangSC-Regular,PingFang SC;
    line-height: 22px;
    margin-right: 20px;
    padding: 20px 0;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 45vw;
    justify-content: space-evenly;
    flex: 1;
}

.container .container-center .info .qrimg {
    z-index: 2;
    width: 158px;
    height: 158px;
    padding: 2px;
    border: 7px solid #1574df;
    border-radius: 14px;
    margin: 0 auto;
}

.container .container-center .info .msg {
    color: #389b38;
    font-size: 12px;
    padding-top: 10px;
    line-height: 12px;
    width: 100%;
    margin: 0 auto;
}

.container .time {
    color: #3d74c5;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
    padding-top: 10px;
}

.container .container-center .info .time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.container .container-center .info .cph {
    display: flex;
    color: red;
    margin: 0 auto;
    font-size: 32px;
    position: absolute;
    bottom: -40px;
    width: 100%;
    justify-content: center;
}

.container .foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .foot img {
    width: 65%;
    padding-bottom: 5px;
    position: fixed;
    bottom: 30px;
    left: 17.5%;
}

.container .foot .copyright {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    font-size: 12px;
    background: #1574df;
    text-align: center;
    height: 22px;
    line-height: 22px;
}